name: CI

on: # Specify the events that trigger the workflow
  push: # Here, the workflow runs on pushes to the main branches
    branches:
      - main 
      - master
  pull_request: # And also on each PR

jobs:
  tests: #  We define a job named "tests"
    runs-on: ubuntu-latest # We specify the environment to run the job

    steps:
      - name: Checkout repository 
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v1

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies with uv
        run: |
          uv sync --all-extras --dev
        
      - name: Run tests
        run: uv run pytest # Here, because I haven't specifically activated the virtual environment, I use `uv run` 
        # to run pytest within the uv environment. While in my terminal, i have previously activated the uv environment directly so
        # I can just run `pytest`.

  build:
    runs-on: ubuntu-latest
    needs: tests

    env:
      IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/amazon-image

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:${{ github.sha }} .

      - name: Push Docker image
        run: |
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:${{ github.sha }}
